body {
    background-color: rgb(245, 203, 245);
}


button {
    padding: 10px;
    background-color: white;
    color: black;
    font-size: 40px;
    margin-right: 70px;

    

}

.container {
    display:block;
    margin-right: 250px;
    text-align: right;
    margin-top: 70px;
    padding: 10px;

}

.input-group {
    display:block;
    text-align: right;
    padding: 50px;
}

#name {
   justify-content: space-between;
}