body {
    background-color: rgb(178, 203, 249);
}


.blog-photo {
  display: inline-block;
  border: 10px solid #f7f5f5;
  margin-left: 100px;
}

.container {
    display: inline-block;
    padding: 20px;
    margin-left: 250px;
    border: 5px solid #f7f5f5;
    text-align: center;
    margin-top: 50px;
}

.container h1 {
    font-size: 45px;
}

.input-group {
    display: block;
    text-align: center;
    padding: 50px;
    font-size: 30px;
    color: black;

}

button { 
    padding: 10px;
    background-color: rgb(0, 0, 0);
    margin-left: 30px;
    border: 5px solid #f7f5f5;
    margin-top: 15px;
    cursor: pointer;
    color: white;
    font-size: 50px;
}

#paragraph {
    color: black;
    padding: 50px;
    border: 2px solid black;
}

